<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
  
  <body>
    {{ "<!-- Topbar -->" | safeHTML }}
    <div>
      {{ partial "topbar.html" . }}
    </div>
    <div class="container" id="content">
    
      {{ "<!-- Navigation -->" | safeHTML }}
    <div>
      {{ partial "navigation.html" . }}
    </div>
    {{ if .IsHome }}
      {{ "<!-- banner -->" | safeHTML }}
      <div>
        {{ partial "banner.html" . }}
      </div>

      {{ "<!-- /Features -->" | safeHTML }}
      <div class="features">
        {{ partial "features.html" . }}
      </div>

    {{ end }}
    {{ if not .IsHome }}
      {{ block "main" . }}{{ end }}
    {{ end }}
    </div>
    {{ "<!-- footer -->" | safeHTML }}
    <div>
      {{ partial "footer.html" . }}
    </div>
    <div class="container" id="companyfooter"> 
      <div class="redhatlogo"> 
        <div id="logospacer"></div> 
        <a href="https://www.redhat.com/">
          <img src="https://debezium.io/images/Logo-Red_Hat-Sponsored_By-B-Standard-RGB.svg">
        </a> 
        </div> 
      </div>
  </body>

</html>