<div id="leftdocnav">
  <div class="doc-pills">
    <ul class="nav nav-pills nav-stacked">
      <li class="item">
        <a href="/blog">Home</a>
        <div class="icon"><span class="icon-home"></span></div>
      </li>
      <li class="item">
        <a href="/blog.atom">Feed</a>
        <div class="icon"><span class="icon-rss"></span></div>
      </li>
    </ul>
  </div>
  <p></p>
  <div class="featured-posts">
    <div
      id="featured"
      style="
        margin-bottom: 4px;
        border-bottom: 1px solid #ccc;
        font-size: 115%;
        margin-left: 2px;
      "
    >
      Featured Posts
    </div>
    <ul style="padding-inline-start: 22px">
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2020/02/10/event-sourcing-vs-cdc/"
          style="font-size: 95%"
        >
          Distributed Data for Microservices — Event Sourcing vs. Change Data
          Capture
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2019/10/01/audit-logs-with-change-data-capture-and-stream-processing/"
          style="font-size: 95%"
        >
          Building Audit Logs with Change Data Capture and Stream Processing
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2019/07/12/streaming-cassandra-at-wepay-part-1/"
          style="font-size: 95%"
        >
          Streaming Cassandra at WePay - Part 1
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2019/02/19/reliable-microservices-data-exchange-with-the-outbox-pattern/"
          style="font-size: 95%"
        >
          Reliable Microservices Data Exchange With the Outbox Pattern
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2018/12/05/automating-cache-invalidation-with-change-data-capture/"
          style="font-size: 95%"
        >
          Automating Cache Invalidation With Change Data Capture
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2018/09/20/materializing-aggregate-views-with-hibernate-and-debezium/"
          style="font-size: 95%"
        >
          Materializing Aggregate Views With Hibernate and Debezium
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2018/07/19/advantages-of-log-based-change-data-capture/"
          style="font-size: 95%"
        >
          Five Advantages of Log-Based Change Data Capture
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2018/03/08/creating-ddd-aggregates-with-debezium-and-kafka-streams/"
          style="font-size: 95%"
        >
          Creating DDD aggregates with Debezium and Kafka Streams
        </a>
      </li>
      <li style="margin-bottom: 3px">
        <a
          href="/blog/2018/01/17/streaming-to-elasticsearch/"
          style="font-size: 95%"
        >
          Streaming Data Changes from Your Database to Elasticsearch
        </a>
      </li>
    </ul>
  </div>
  <p></p>
  <div class="cloud-tags">
    <div
      id="tags"
      style="
        margin-bottom: 4px;
        border-bottom: 1px solid #ccc;
        font-size: 115%;
        margin-left: 2px;
      "
    >
      Tags
    </div>
    <div class="tag-cloud">
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/apache-kafka/">apache-kafka</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/apicurio/">apicurio</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/avro/">avro</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/aws/">aws</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/camel/">camel</a>
      </span>
      <span class="tag tag-2">
        <a href="https://debezium.io/blog/tags/cassandra/">cassandra</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/community/">community</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/cqrs/">cqrs</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/db2/">db2</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/debezium-server/"
          >debezium-server</a
        >
      </span>
      <span class="tag tag-2">
        <a href="https://debezium.io/blog/tags/discussion/">discussion</a>
      </span>
      <span class="tag tag-4">
        <a href="https://debezium.io/blog/tags/docker/">docker</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/elasticsearch/">elasticsearch</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/event-sourcing/"
          >event-sourcing</a
        >
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/example/">example</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/examples/">examples</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/featured/">featured</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/fedora/">fedora</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/integration/">integration</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/introduction/">introduction</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/json/">json</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/kafka/">kafka</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/kafka-streams/">kafka-streams</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/kogito/">kogito</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/ksql/">ksql</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/kubernetes/">kubernetes</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/microservices/">microservices</a>
      </span>
      <span class="tag tag-4">
        <a href="https://debezium.io/blog/tags/mongodb/">mongodb</a>
      </span>
      <span class="tag tag-6">
        <a href="https://debezium.io/blog/tags/mysql/">mysql</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/news/">news</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/newsletter/">newsletter</a>
      </span>
      <span class="tag tag-3">
        <a href="https://debezium.io/blog/tags/oracle/">oracle</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/outbox/">outbox</a>
      </span>
      <span class="tag tag-5">
        <a href="https://debezium.io/blog/tags/postgres/">postgres</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/presentation/">presentation</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/production/">production</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/quarkus/">quarkus</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/rds/">rds</a>
      </span>
      <span class="tag tag-6">
        <a href="https://debezium.io/blog/tags/releases/">releases</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/schema/">schema</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/secrets/">secrets</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/sentry/">sentry</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/serialization/">serialization</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/smt/">smt</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/sql/">sql</a>
      </span>
      <span class="tag tag-3">
        <a href="https://debezium.io/blog/tags/sqlserver/">sqlserver</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/testcontainers/"
          >testcontainers</a
        >
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/topics/">topics</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/vagrant/">vagrant</a>
      </span>
      <span class="tag tag-0">
        <a href="https://debezium.io/blog/tags/vitess/">vitess</a>
      </span>
      <span class="tag tag-1">
        <a href="https://debezium.io/blog/tags/website/">website</a>
      </span>
    </div>
  </div>
</div>
