<div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">1.2</h3>
      <h6 class="version-date">2020-09-24</h6>
      <div class="description">Align code with Quarkus 1.9</div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/1.2/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>